html{
  scroll-behavior: smooth;
}
.menu-section {
  background-color: #f5f5f5;
  padding: 20px;
  border: 1px solid #ddd;
  margin-top: 20px;
}
.menu-box{
  background-color: #f5f5f5;
  padding: 15px;
  margin-bottom: 15px;
  margin-top: 15px;
  min-height: 60vh;
}
